.prg{
    color: black ;
    font-size: 20px;
    display: block;
    padding: 0%;
}

header{
    background-color: #FADBD8  ;
    position: relative;

}

ul{
    display: inline-flexbox;
    text-align: center;
}

.tel{
    height: 100px;
    width: 100px;
    position: fixed;
    bottom: 10px;
    right: 111px;
}
.imgpx  {
    height: 400px;
    width: 400px;
   
}

.imgpx2{
    height: 400px;
    width: 500px;
  
}

img{
    display: inline-flexbox;
}

.divmrg{
    margin: 10px 50px;
    background-color:#AED6F1  ;
    border: 10px solid #D4AC0D ;
    border-radius: 30px;
    
}

/* .special-img {
    height: 200px;
    width: 200px;
} */




